// Styling for the services section
.services-section {

  .service-heading {
    margin-bottom: 50px;
    text-transform: none;
  }

  .services-icon {
    margin: 20px;
    font-size: 100px;
    color: $primary;
  }
}

